* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(180deg, #12338c 0%, #764ba2 100%);
  min-height: 100vh;
}

a {
  all: unset;
}

.container {
  width: 100%;
}

.list-layout {
  max-width: 1170px;
  padding: 10px;
  margin: 0 auto;
}

/* MBTI Detail Page */

.detail-page {
  display: none;
}

.detail-layout {
  background-color: #ffffff;
  margin: 50px auto;
  padding: 32px 40px;
  border-radius: 20px;
}

.detail-header {
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.top-header {
  display: flex;
  align-items: center;
  gap: 16%;
}

.detail-image {
  width: 100%;
  height: 430px;
  margin: 24px auto 25px;
  border-radius: 24px;
  object-fit: cover;
}

.detail-code {
  font-size: 32px;
  font-weight: bold;
  color: #1d4ed8;
}

.detail-description {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: #333;
  padding-left: 24px;
  border-left: solid 4px #1d4ed8;
  text-align: justify;
}

.test-btn {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  margin: 24px;
  padding: 20px 50px;
  background-color: #1d4ed8;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.test-btn:hover {
  background-color: #12338c;
}

.back-btn {
  background: #f2f4f5;
  color: #333;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-weight: bold;
}

.back-btn:hover {
  background: #e9ebec;
  transform: translateY(-2px);
}

.detail-container {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.left-detail-container {
  width: 300px;
  height: fit-content;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}

.right-detail-container {
  flex: 1;
}

.tableofcontents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: solid 1px #e6e7e8;
  border-radius: 16px;
}

.tableofcontents-header {
  font-size: 24px;
  font-weight: 700;
}

.section-div {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 0;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.section-div span {
  transition: transform 0.2s;
  transform: translateX(-20px);
  color: #263a4d;
}

.section-div.active span {
  color: #1d4ed8;
}

.section-div:hover span,
.section-div.active span {
  transform: translateX(0px);
}

.icon {
  opacity: 0;
  color: #bdbdbd;
  transition: opacity 0s, transform 0.3s;
}

.section-div.active .icon {
  opacity: 1;
  color: #1d4ed8;
}

.right-detail-header {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.detail-item {
  margin-bottom: 16px;
}

.item-title {
  margin-bottom: 6px;
  font-size: 20px;
  color: #434343;
}

.child-item {
  font-size: 18px;
  color: #666;
}

.item-content {
  text-align: justify;
  font-size: 17px;
}

.tables-container {
  overflow-x: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
}

.table-wrapper {
  min-width: 100%;
  margin-bottom: 16px;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-wrapper th,
.table-wrapper td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-break: break-word;
}

.table-wrapper tr:nth-child(even) {
  background-color: #f9f9f9;
}






/* Responsive Design */

/* ≤ 1100px */
@media (max-width: 1100px) {

}

/* ≤ 768px */
@media (max-width: 768px) {

  .detail-code {
    font-size: 20px;
  }

  .detail-name {
    font-size: 1.3rem;
  }

  .detail-description {
    font-size: 14px;
    padding-left: 8px;
    border-left: 2px solid #1d4ed8;
  }

  .detail-section {
    padding: 20px;
  }

  .detail-layout {
    margin: 0 auto;
    padding: 0 14px;
  }

  .detail-container {
    flex-direction: column;
  }

  .left-detail-container {
    position: static;
    width: 100%;
  }

  .table-wrapper {
    min-width: 800px;
  }

  .right-detail-container {
    width: 100%;
  }

  .detail-header {
    padding: 10px 0;
    margin-bottom: 0;
  }

  .top-header {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .detail-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .test-btn {
    font-size: 14px;
    width: 90%;
    padding: 10px;
    margin: 16px 0;
    border-radius: 8px;
  }

  .back-btn {
    padding: 8px 14px;
    font-size: 14px;
  }

  .right-detail-header {
    font-size: 20px;
  }

  .item-title {
    font-size: 18px;
  }

  .item-content {
    font-size: 14px;
  }

  .child-item {
    font-size: 17px;
  }
}

/* ≤ 480px */
@media (max-width: 480px) {
  .left-detail-container {
    position: fixed;
    border-radius: 16px;
    top: 70px;
    right: 10px;
    width: 90%;
    display: none;
    background-color: #ffffff;
  }

  .left-detail-container.show {
    display: block;
  }

  .right-detail-container {
    width: 100%;
  }

  .tableofcontents-header {
    font-size: 20px;
  }

  .section-div span {
    font-size: 14px;
  }

  .btn-nav {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 8px;
    background-color: #1d4ed8;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    outline: none;
    border: none;
  }

  .btn-nav:focus {
    outline: none;
    border: none;
  }

  .btn-nav.active {
    background-color: #e6e7e8;
  }

  .btn-nav img.menu {
    width: 32px;
    height: 32px;
    object-fit: contain;
    transition: transform 0.3s;
  }
}

/* ≤ 330px */
@media (max-width: 330px) {
  
}
